:root {
  --header-color: hsl(258, 9%, 21%);
  --para-color: hsl(250, 3%, 62%);

  --violet: hsl(257, 27%, 26%);
  --dark-violet: hsl(259, 27%, 25%);
  --cyan: hsl(180, 67%, 49%);

  --header-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(230, 25%, 95%);
  --footer-bg: hsl(266, 10%, 14%);
}