@use "./components/navbar";
@use "./components/button";

@use "./components/shortener-input";
@use "./components/shortend";
@use "./components/card";
@use "./components/footer-nav";

@use "./layout/header";
@use "./layout/hero";
@use "./layout/shortener";
@use "./layout/statistics";
@use "./layout/boost";
@use "./layout/footer";

@use "./@media/desktop";

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
}