@use "../abstracts/colors";

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  position: relative;
  z-index: 5;

  padding: 5vh 8vw;

  .hamburger {
    position: absolute;
    z-index: 6;

    top: 5vh;
    right: 8vw;

    fill: var(--para-color);
  }
}

.navbar {
  display: none;
}