@use "../abstracts/colors";

.card {
  padding: 4em 1.5em 2em;

  background-color: white;
  border-radius: 10px;

  position: relative;
  z-index: 7;

  h3 {
    color: var(--header-color);
    text-align: center;
  }

  p {
    color: var(--para-color);
    text-align: center;
  }
}

.card__icon {
  width: 88px;
  height: 88px;

  background-color: var(--dark-violet);
  border-radius: 50%;
  display: grid;
  place-content: center;

  position: absolute;
  z-index: 8;

  top: -44px;
  left: calc(50% - 44px);
}