@use "../abstracts/fonts";

.shortener-input {
  padding: 2em 1.5em;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: var(--violet);
  background-image: url("../../../public/assets/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;

  label {
    position: relative;
    input {
      padding: 12px 12px;
      width: 100%;

      display: block;
      box-sizing: border-box;

      border: 3px solid transparent;
      border-radius: 5px;

      font-family: 'Poppins';
      font-size: fonts.$font-p;
    }

    input.show-warning {
      border-color: hsl(0, 87%, 67%);
    }

    p::before {
      content: "";
      width: calc(100% + 1em);
      height: 3px;
      background-color: white;

      position: absolute;
      top: 32.5%;
      left: -.5em;
      z-index: 4;
    }

    p {
      position: absolute;
      top: -.5em;
      left: 1.15em;

      z-index: 5;
      margin: 0;
      width: fit-content;

      span {
        color: hsl(0, 87%, 67%);
        font-size: .8rem;

        position: relative;
        top: -.05em;
        z-index: 6;
      }
    }

    input:focus {
      border-color: dodgerblue;
      outline: none;

      +p {
        display: none !important;
      }
    }
  }

  button {
    border-radius: 5px;
    padding: 16px;
  }
}