@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  font-family: "Poppins";
}

h1, h2, h3 {
  font-weight: 700;
}

p, span {
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

span {
  font-size: 10px;
}

:root {
  --header-color: hsl(258, 9%, 21%);
  --para-color: hsl(250, 3%, 62%);
  --violet: hsl(257, 27%, 26%);
  --dark-violet: hsl(259, 27%, 25%);
  --cyan: hsl(180, 67%, 49%);
  --header-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(230, 25%, 95%);
  --footer-bg: hsl(266, 10%, 14%);
}

.navbar {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  background-color: var(--violet);
  border: none;
  border-radius: 10px;
  font-family: "Poppins" sans-serif;
}

ul.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.nav-list li {
  font-size: 18px;
  color: white;
  margin-top: 2em;
  text-align: center;
}

.seperator {
  width: 95%;
  height: 2px;
  background-color: #4b4066;
}

.btn-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-self: stretch;
  margin-bottom: 2em;
}

.btn--link {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: none;
}

.btn--primary {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: var(--cyan);
  border: none;
  border-radius: 20px;
  padding: 0.6em 1em;
}

.btn--secondary {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: var(--dark-violet);
  border: none;
  border-radius: 20px;
  padding: 0.6em 1em;
}

.shortener-input {
  padding: 2em 1.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--violet);
  background-image: url("../../../public/assets/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.shortener-input input {
  padding: 12px 12px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 16px;
}
.shortener-input input.show-warning {
  border-color: #f46262;
}
.shortener-input span {
  color: #f46262;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.5em;
  display: block;
}
.shortener-input input:focus {
  border-color: dodgerblue;
  outline: none;
}
.shortener-input button {
  border-radius: 5px;
  padding: 16px;
}

.shortend {
  padding: 2em 1.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: white;
}
.shortend p {
  margin: 0;
}
.shortend .seperator {
  width: 100%;
  background-color: var(--main-bg);
}

.shortend-url-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.shortend-url-container .shortend-url {
  color: var(--cyan);
}
.shortend-url-container button {
  border-radius: 5px;
}

.card {
  padding: 4em 1.5em 2em;
  background-color: white;
  border-radius: 10px;
  position: relative;
  z-index: 7;
}
.card h3 {
  color: var(--header-color);
  text-align: center;
}
.card p {
  color: var(--para-color);
  text-align: center;
}

.card__icon {
  width: 88px;
  height: 88px;
  background-color: var(--dark-violet);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  z-index: 8;
  top: -44px;
  left: calc(50% - 44px);
}

.footer-nav {
  background-color: var(--footer-bg);
}
.footer-nav h3 {
  color: white;
  text-align: center;
  margin: 0;
}

.footer-navlist {
  list-style: none;
  margin: 1.5em auto;
  padding: 0;
}
.footer-navlist li {
  color: var(--para-color);
  text-align: center;
  margin-bottom: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  position: relative;
  z-index: 5;
  padding: 5vh 8vw;
}
.header .hamburger {
  position: absolute;
  z-index: 6;
  top: 5vh;
  right: 8vw;
  fill: var(--para-color);
}

.navbar {
  display: none;
}

.hero {
  padding-left: 5vw;
  padding-bottom: 8vh;
  overflow: hidden;
}
.hero__image {
  height: 340px;
}
.hero h1 {
  color: var(--header-color);
  text-align: center;
  font-size: 2.75rem;
  line-height: calc(1em + 6px);
  padding-right: 5vw;
  margin: 26px auto;
}
.hero p {
  color: var(--para-color);
  text-align: center;
  font-size: 1.15rem;
  padding-right: 5vw;
  margin: 26px auto;
}
.hero button {
  padding: 0.75em 2em;
  border-radius: 2em;
  display: block;
  margin: 0 auto;
}

.shortener::before {
  position: absolute;
  z-index: 6;
  content: "";
  width: 100%;
  height: 150px;
  background-color: white;
  top: 0;
  left: 0;
}

.shortener {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0 5vw 8vh;
  background-color: var(--main-bg);
  position: relative;
  z-index: 5;
}

.shortener > div {
  position: relative;
  z-index: 7;
}

.statistics {
  padding: 0 5vw 8vh;
  background-color: var(--main-bg);
}
.statistics h2 {
  color: var(--header-color);
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
}
.statistics p {
  color: var(--para-color);
  text-align: center;
}

.card-flex::before {
  content: "";
  position: absolute;
  z-index: 6;
  width: 8px;
  height: 100%;
  background-color: var(--cyan);
  top: 0;
  left: calc(50% - 4px);
}

.card-flex {
  margin: 5em 0 2em;
  display: flex;
  flex-direction: column;
  gap: 5em;
  position: relative;
  z-index: 5;
}

.boost {
  padding: 5em 5vw;
  background-color: var(--violet);
  background-image: url("../../../public/assets/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
.boost h2 {
  color: white;
  font-size: 1.65rem;
  text-align: center;
}
.boost button {
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
  border-radius: 2em;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding: 4em;
  background-color: var(--footer-bg);
}
.footer .logo {
  display: block;
  margin-bottom: 2em;
}
.footer .logo path {
  fill: white;
}

.footer-media {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .seperator {
    display: none;
  }

  .btn--primary:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
  }

  .navbar {
    padding: 0;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    background-color: unset;
  }
  .navbar ul.nav-list li {
    display: inline-block;
    margin-top: 0;
    margin-left: 2em;
    color: var(--para-color);
    font-size: 0.9rem;
  }
  .navbar ul.nav-list li:hover {
    cursor: pointer;
    font-weight: 700;
    color: black;
  }
  .navbar .btn-flex {
    flex-direction: row;
    margin: 0;
  }
  .navbar .btn-flex button {
    font-size: 0.9rem;
    padding: 0.6em 1.2em;
  }
  .navbar .btn-flex .btn--link {
    color: var(--para-color);
  }
  .navbar .btn-flex .btn--link:hover {
    cursor: pointer;
    color: #2f2d2d;
    text-decoration: underline;
  }

  .footer-nav h3, .footer-nav li {
    text-align: left;
  }
  .footer-nav li:hover {
    cursor: pointer;
    color: var(--cyan);
  }

  .header {
    flex-flow: row nowrap;
    padding: 3em 10vw 3em 12vw;
  }
  .header .navbar {
    flex: 1;
  }
  .header .hamburger {
    display: none;
  }

  .footer {
    flex-flow: row nowrap;
    padding: 3em 10vw 3em 12vw;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .logo {
    flex-basis: 25%;
  }
  .footer .footer-media svg:hover path {
    cursor: pointer;
    fill: var(--cyan);
  }
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
